params {
    // Base path
    path = "/home/chbope/extension/nWGS_manuscript_data/data"
    
    // Epi2me output directories
    episv = "${path}/results/epi2me/episv"
    epimodkit = "${path}/results/epi2me/modkit"
    epicnv = "${path}/results/epi2me/epicnv"
    
    // Reference files (required)
    reference_genome = "${path}/reference/GCF_000001405.39_GRCh38.p13_genomic_chr_only_plus_mt.fa"
    reference_genome_bai = "${path}/reference/GCF_000001405.39_GRCh38.p13_genomic_chr_only_plus_mt.fa.fai"
    
    // Input/Output paths
    merge_bam_folder = "${path}/testdata/single_bam_folder/merge_bam"
    epi2me_sample_id_file = "${path}/testdata/sample_ids.txt"

    // Analysis-specific parameters
    binsize = 50                    // QDNAseq bin size in kb
    interval_size = 100000          // Modkit interval size
    modkit_threads = 1              // Number of threads for Modkit
    min_sv_length = 30              // Minimum SV length for Sniffles2
    min_read_support = "auto"       // Minimum read support for SVs
    cluster_merge_pos = 150         // SV cluster merge position
}

epi2melabs {
    tags = "human,variant calling,whole genome"
    icon = "faIdCard"
}


process {
    withName: run_epi2me_sv {
        container = 'containers/snifflesv252_update_latest.sif'
        // container = 'vilhelmmagnuslab/snifflesv252_update_latest:latest'  // Docker version
        cpus = 1
        memory = '1 GB'
    }

    withName: run_epi2me_cnv {
        container = 'containers/qdnaseq_amd64_latest.sif'
        // container = 'vilhelmmagnuslab/qdnaseq_amd64_latest:latest'  // Docker version
        cpus = 1
        memory = '1 GB'
    }

    withName: run_epi2me_modkit {
        container = 'containers/modkit_latest.sif'
        // container = 'vilhelmmagnuslab/modkit_latest:latest'  // Docker version
        cpus = 1
        memory = '1 GB'
    }
}

// Apptainer configuration for Singularity/Apptainer containers
apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--bind /home/chbope/extension/nWGS_manuscript_data/data:/home/chbope/extension/nWGS_manuscript_data/data'
}

// Docker configuration (commented out for Singularity/Apptainer compatibility)
// docker {
//     enabled = true
//     runOptions = '-v /home/chbope/extension/nWGS_manuscript_data/data:/home/chbope/extension/nWGS_manuscript_data/data'
// }

env {
//    PATH = "/home/ubuntu/.conda/envs/singularity_env/bin:$PATH"
//    PATH = "/home/ubuntu/miniconda3/envs/mut_env/bin:$PATH"
    PYTHONNOUSERSITE = 1
    JAVA_TOOL_OPTIONS = "-Xlog:disable -Xlog:all=warning:stderr"
    RUST_BACKTRACE = 1
}


