params {
    // Base path
    path = "/home/ubuntu/data"

    // Input/Output directories
    input_dir      = "${params.path}/testdata"  // Base directory containing Sample_ID folders
    merge_bam_dir  = "${params.path}/testdata/single_bam_folder/merge_bam" // Directory to store merged BAM files
    occ_bam_dir    = "${params.path}/testdata/single_bam_folder/occ_bam"
    
    // Processing parameters
    threads        = 4  // Number of threads for samtools operations
    roi_bed        = "${params.path}/reference/OCC.protein_coding.bed"
    bam_sample_id_file = "${params.path}/testdata/sample_ids_bam.txt"
}

process {
    executor = 'local'

    withName: 'merge_bam_files' {
        container = '/home/ubuntu/data/images2/mgmt_nanopipe_amd64_26spet_jdk_igv_python_plotly_latest.sif'
        cpus = 4
        memory = '1 GB'
        containerOptions = '--bind /home/ubuntu/data/images2 --no-home'
    }

    withName: 'extract_roi' {
        container = '/home/ubuntu/data/images2/mgmt_nanopipe_amd64_26spet_jdk_igv_python_plotly_latest.sif'
        cpus = 4
        memory = '1 GB'
        containerOptions = '--bind /home/ubuntu/data/images2 --no-home'
    }
}

// Enable apptainer/singularity
apptainer {
    enabled = true
    autoMounts = true
    runOptions = "--no-sandbox"
    envWhitelist = []
}

conda {
    enabled = true
}

env {
    PATH = "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:$PATH"
    PYTHONNOUSERSITE = 1
}
